@import url(https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i);
body {
  font-family: 'Roboto', sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: #5a2abc;
}
body * {
  box-sizing: border-box;
}
.logo-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.logo-box .logo h3 {
  font-size: 12px;
  font-weight: 300;
  color: #fff;
}
.logo-box .logo h1 {
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
  font-size: 62px;
  font-weight: 500;
}
.logo-box .logo h1 span {
  color: #d7c4fd;
}
.logo-box .logo h2 {
  font-size: 21px;
  color: #fff;
}
